<header><h2 class="circle"></h2>
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">
            <img class="dropbtn" src="assets/images/DSC.png">
        </button>
        <div id="myDropdown" class="dropdown-content">
          <nav>
          <a routerLink='/home' target="__blank">Home</a>
          <a routerLink='/linkone' target="__blank">Page One</a>
          <a href="#">This info is coming soon</a>
          <a href="#">This info is coming soon</a>
        </nav>
        </div>
      </div>
</header>
