footer{
    position: absolute;
    right: 0;bottom:0;left:0;
    height: 45px;
    border-radius: 40% 40% 0px 0px;
    background-color: rgb(126, 193, 255);
    font-family: ubuntu, mono;
    text-align: center;
    opacity: 0.5;
}
.footerstyle{
    margin-top: 15px;
}