<div class="container">
    <!-- Ninjas Card -->
    <div class="cardcontainer">
    <div class="thecard">
    <!-- The front of the card with content -->
        <div class="thefront">
            <div class="topbar"></div>
            <img class="ninja" src="assets/images/Ninja.png">
            <h1 class="nametext">Ninja</h1>
            <div class="line"></div>
            <h3 class="fronttext">・Front-End Developer・</h3>
        </div>
    <!-- The back of the card with content -->
        <div class="theback">
            <h3 class="backtitle">・Socials・</h3>
            <h5 class="textsizelink">
             <a href="https://www.twitch.tv/imninja" target="_blank">Twitch.tv/imninja</a></h5>
            <h5 class="textsizelink">
             <a href="https://discord.gg/J8GkW9gwJ7" target="_blank">Gaming Hub™</a></h5>
            <h5 class="textsizelink">
             <a href="https://discord.gg/ZrUVBj7jTq" target="_blank">PanoramaRoleplay™</a></h5>
            <h3 class="backtitle">・Skills・</h3>
             <h5 class="textsizelink">HTML5</h5>
             <h5 class="textsizelink">CSS3</h5>
             <h5 class="textsizelink">Javascript</h5>
             <h5 class="textsizelink">Photoshop</h5>
            <h3 class="backtitle">・Contact・</h3>
             <h5 class="textsizelink">Discord | ImNinja#9082</h5>
             <h5 class="textsizelink">Email | dstrangercreations@gmail.com</h5>
        </div>
    </div>
    </div>

    <!-- Blooms Card -->
    <div class="cardcontainer2">
    <div class="thecard2">
    <!-- The front of the card with content -->
         <div class="thefront2">
              <div class="topbar2"></div>
              <img class="bloom" src="assets/images/sunflower.png">
              <h1 class="nametext2">Bloom</h1>
              <div class="line2"></div>
              <h3 class="fronttext2">・Graphic Designer・</h3>
            </div>
        <!-- The back of the card with content -->
            <div class="theback2">
                <h3 class="backtitle2">・Socials・</h3>
                <h5 class="textsizelink2">
                 <a href="https://discord.gg/J8GkW9gwJ7" target="_blank">Gaming Hub™</a></h5>
                <h5 class="textsizelink2">
                 <a href="https://discord.gg/ZrUVBj7jTq" target="_blank">PanoramaRoleplay™</a></h5>
                <h3 class="backtitle">・Skills・</h3>
                 <h5 class="textsizelink">Layout Design</h5>
                 <h5 class="textsizelink">Photography</h5>
                 <h5 class="textsizelink">Sketchbook Pro</h5>
                 <h5 class="textsizelink">Photoshop</h5>
                <h3 class="backtitle">・Contact・</h3>
                 <h5 class="textsizelink">Discord | Bloom#7147</h5>
                 <h5 class="textsizelink">Email | tobeassigned@gmail.com</h5>
            </div>
        </div>
    </div>
</div>