
<body class="background">
<div class="loginframe">
<form>
  <div class="imgcontainer">
    <img src="assets/images/DSC.png" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b class="color">Username</b></label>
    <input type="text" placeholder="Username" name="uname" required>

    <label for="psw"><b class="color">Password</b></label>
    <input type="password" placeholder="Password" name="psw" required>

    <button routerLink="/home" routerLinkActive="active">Login</button>
    <label class="color">
      <input type="checkbox" checked="checked" name="remember"> - Herinner Mij
    </label>
  </div>
</form>
</div>
</body>