
<app-header></app-header>
<div class="loginframe">
<form action="action_page.php" method="post">
  <div class="imgcontainer">
    <img src="assets/images/DSC.png" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Password" name="psw" required>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Herriner Mij
    </label>
  </div>

  <div class="cancelagain" style="background-color:#ffffff">
    <button type="button" class="cancelbtn">Cancel</button>
  </div>
</form>
</div>
<app-footer></app-footer>