.popupone{
    margin: 0 auto 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    height: 660px;
    background-color: rgb(56, 56, 56);
    border-radius: 11px;
    border-width: 6px;
    border-style: solid;
    z-index: -1;
    opacity: 0.8;
}