<app-header></app-header>


<div class="popupone">
<div class="container">
<video class="items" width="360px" 
    controls="controls"> 

    <source src="assets/videos/Fissa.mp4" 
        type="video/mp4"> 
</video>
<video class="items" width="360px" 
    controls="controls"> 

    <source src="assets/videos/Fissa.mp4" 
        type="video/mp4"> 
</video>
<video class="items" width="360px" 
    controls="controls"> 

    <source src="assets/videos/Fissa.mp4" 
        type="video/mp4"> 
</video>
<video class="items" width="360px" 
    controls="controls"> 

    <source src="assets/videos/Fissa.mp4" 
        type="video/mp4"> 
</video>
<video class="items" width="360px" 
    controls="controls"> 

    <source src="assets/videos/Fissa.mp4" 
        type="video/mp4"> 
</video>
<video class="items" width="360px" 
    controls="controls"> 

    <source src="assets/videos/Fissa.mp4" 
        type="video/mp4"> 
</video>
</div>
</div>

<app-footer></app-footer>