.popupone{
    margin: 0 auto 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 88%;
    height: 660px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgb(97, 97, 97);
    border-radius: 11px;
    border-width: 5px;
    border-style: solid;
    z-index: -1;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.items{
    max-width: fit-content;
}
::-webkit-scrollbar{
    background: #00a4f0;
}
::-webkit-scrollbar-thumb {
    background: rgb(140, 0, 255);
    
  }
@media screen and (max-width:990px) {
    .container { flex-wrap: wrap;  }
    .items { flex-basis: 100%; }
  }